################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventHubReceiver/bin/Debug
/EventHubReceiver/obj/Debug
/packages
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/EventHubSamples/v15/.suo
/src/EventHubReceiver/bin/Debug
/src/EventHubReceiver/obj
